:root {
  /* //////////////////// COLORS ///////////////////// */
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;

  /* //////////////////// TYPOGRAPHY /////////////////// */
  --fz-1: clamp(2.5rem, calc(1.972rem + 2.254vw), 4rem);
  --text-1: normal 900 var(--fz-1) / 1.1 "red hat display", sans-serif;

  --fz-2: clamp(2rem, calc(1.824rem + 0.751vw), 2.5rem);
  --text-2: normal 900 var(--fz-2) / 1.1 "red hat display", sans-serif;

  --fz-3: clamp(0.75rem, calc(0.662rem + 0.376vw), 1rem);
  --text-3: normal 900 var(--fz-3) / 1.1 "red hat display", sans-serif;
  --lttx-sp-3: 0.25rem;

  --fz-4: clamp(1rem, calc(0.956rem + 0.188vw), 1.13rem);
  --text-4: normal 500 var(--fz-4) / 1.5 "red hat display", sans-serif;

  --text-5: normal 900 16px/1.5 "red hat display", sans-serif;
}

/* ///////////////////// GLOBAL ////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /////////////////// MOVIL FIRST //////////////////// */

/* SECCION HEADER */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
}
header {
  width: 100%;
  padding: 48px 80px 0;
  display: flex;
  justify-content: center;
}

/* SECCION HERO 1 */

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 32px 32px;
  overflow: hidden;
}
.combined {
  width: clamp(305px, calc(18.028px + 76.526vw), 1120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.combined-image {
  display: flex;
  justify-content: center;
}
.combined .img-1 {
  width: clamp(433px, calc(63.725px + 98.473vw), 820px);
}
.combined .img-lf,
.combined .img-rg {
  display: none;
}
.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  width: clamp(305px, calc(254.542px + 13.455vw), 448.3px);
}
.text-content h1 {
  font: var(--text-1);
  color: var(--slate-900);
  padding-inline: 10px;
}
.text-content p {
  font: var(--text-4);
  color: var(--slate-600);
}
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(16px, calc(15.046px + 0.254vw), 17px);
  width: clamp(193px, calc(23.153px + 45.293vw), 371px);
}
.btn {
  padding: 16px 40px;
  border-radius: 29px;
  background-color: var(--cyan-600);
  font: var(--text-5);
  color: var(--white);
  border: none;
}
.btn-1 span {
  color: var(--cyan-300);
}
.btn-1:hover {
  background-color: #71c0d4;
}
.btn-2,
.btn-3 {
  background-color: var(--purple-600);
}
.btn-2:hover,
.btn-3:hover {
  background-color: #b18bdd;
}
.btn-3 span {
  color: var(--purple-300);
}

/* SECCION HERO 2 */

.main-content {
  padding: clamp(32px, calc(9.099px + 6.107vw), 56px) 32px 64px;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.line {
  width: 0;
  height: 5rem;
  transform: translateX(1.75rem);
  border-left: 1px solid var(--slate-300);
}
.number-1,
.number-2 {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font: var(--text-5);
  color: var(--slate-600);
  background-color: var(--white);
}
.image-collage {
  width: clamp(311px, calc(26.141px + 75.962vw), 1120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(16px, calc(8.366px + 2.036vw), 24px);
}
.coll-1,
.coll-2 {
  display: flex;
  gap: clamp(16px, calc(8.366px + 2.036vw), 24px);
}
.coll-1 img,
.coll-2 img {
  width: clamp(147.5px, calc(143.206px + 1.145vw), 152px);
  height: clamp(144px, calc(128.733px + 4.071vw), 160px);
  border-radius: 5px;
}
.text-content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: clamp(311px, calc(126.84px + 49.109vw), 504px);
  gap: 32px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.title h2 {
  font: var(--text-3);
  letter-spacing: var(--lttx-sp-3);
  color: var(--cyan-600);
}
.title h3 {
  font: var(--text-2);
  color: var(--slate-900);
}
.messages p {
  font: var(--text-4);
  color: var(--slate-600);
}

/* SECCION FOOTER */

.footer-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.hero-2 {
  margin-top: -28px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 32px;
  background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(assets/mobile/image-footer.jpg);
  background-size: cover;
}
.text-content-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: clamp(311px, calc(26.141px + 75.962vw), 1120px);
  gap: 24px;
}
.text-content-3 h2 {
  font: var(--text-2);
  color: var(--white);
}
.text-content-3 p {
  font: var(--text-4);
  color: var(--white);
}

/* TABLET  */

@media (min-width: 768px) {
  .btns {
    flex-direction: row;
  }
  .image-collage {
    flex-direction: row;
    justify-content: center;
    gap: clamp(24px, calc(14.857px + 1.19vw), 32px);
  }
  .coll-1,
  .coll-2 {
    flex-direction: row;
    gap: clamp(24px, calc(14.857px + 1.19vw), 32px);
  }
  .coll-1 img,
  .coll-2 img {
    width: clamp(152px, calc(33.143px + 15.476vw), 256px);
    height: clamp(160px, calc(50.286px + 14.286vw), 256px);
  }
  .main-content {
    padding: 56px clamp(32px, calc(-22.857px + 7.143vw), 80px) clamp(64px, calc(54.857px + 1.19vw), 72px);
  }
  .text-content-2 {
    width: clamp(504px, calc(458.286px + 5.952vw), 544px);
  }
  .hero-2 {
    background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(assets/tablet/image-footer.jpg);
  }
}

/* DESKTOP */

@media (min-width: 1440px) {
  .hero {
    padding: 64px 80px;
  }
  .combined {
    flex-direction: row;
    height: 360px;
    position: relative;
  }
  .combined .img-1 {
    display: none;
  }
  .combined .img-lf,
  .combined .img-rg {
    display: block;
    width: 394px;
    height: 303px;
  }
  .combined .img-lf {
    position: absolute;
    transform: translate(-140%, -9.5%);
  }
  .combined .img-rg {
    position: absolute;
    transform: translate(140%, 9.5%);
  }
  .text-content {
    height: 314px;
  }
  .hero-2 {
    padding: 112px 80px;
    background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(assets/desktop/image-footer.jpg);
  }
  .text-content-3 {
    flex-direction: row;
    gap: 32px;
  }
  .text-content-3 h2 {
    width: 445px;
    text-align: left;
  }
  .text-content-3 p {
    width: 355px;
    text-align: left;
  }
  .button {
    width: 256px;
    display: flex;
    justify-content: end;
  }
}
