:root {
  /* //////////////////// COLORS ///////////////////// */
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;

  /* //////////////////// TYPOGRAPHY /////////////////// */
  --fz-1: clamp(2.5rem, calc(1.972rem + 2.254vw), 4rem);
  --text-1: normal 900 var(--fz-1) / 1.1 "red hat display", sans-serif;

  --fz-2: clamp(2rem, calc(1.824rem + 0.751vw), 2.5rem);
  --text-2: normal 900 var(--fz-2) / 1.1 "red hat display", sans-serif;

  --fz-3: clamp(0.75rem, calc(0.662rem + 0.376vw), 1rem);
  --text-3: normal 900 var(--fz-3) / 1.1 "red hat display", sans-serif;
  --lttx-sp-3: 0.25rem;

  --fz-4: clamp(1rem, calc(0.956rem + 0.188vw), 1.13rem);
  --text-4: normal 500 var(--fz-4) / 1.5 "red hat display", sans-serif;

  --text-5: normal 900 1rem/1.5 "red hat display", sans-serif;
}

/* ///////////////////// GLOBAL ////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /////////////////// MOVIL FIRST //////////////////// */

/* SECCION HEADER */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--white);
}
header { 
  padding: 3rem clamp(1rem, 5vw, 5rem) 0;
  display: flex;
  justify-content: center;
}

/* SECCION HERO 1 */

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 2rem;
  overflow: hidden;
}
.combined {
  width: clamp(19.0625rem, calc(1.1267rem + 76.526vw), 70rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.combined-image {
  display: flex;
  justify-content: center;
}
.combined .img-1 {
  width: clamp(27.0625rem, calc(3.9828rem + 98.473vw), 51.25rem);
}
.combined .img-lf,
.combined .img-rg {
  display: none;
}
.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  width: clamp(19.0625rem, calc(15.9089rem + 13.455vw), 28.0188rem);
}
.text-content h1 {
  font: var(--text-1);
  color: var(--slate-900);
  padding-inline: 0.625rem;
}
.text-content p {
  font: var(--text-4);
  color: var(--slate-600);
}
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, calc(0.9404rem + 0.254vw), 1.0625rem);
  width: clamp(12.0625rem, calc(1.4471rem + 45.293vw), 23.1875rem);
}
.btn {
  padding: 1rem 2.5rem;
  border-radius: 1.8125rem;
  background-color: var(--cyan-600);
  font: var(--text-5);
  color: var(--white);
  border: none;
}
.btn-1 span {
  color: var(--cyan-300);
}
.btn-1:hover {
  background-color: #71c0d4;
}
.btn-2,
.btn-3 {
  background-color: var(--purple-600);
}
.btn-2:hover,
.btn-3:hover {
  background-color: #b18bdd;
}
.btn-3 span {
  color: var(--purple-300);
}

/* SECCION HERO 2 */

.main-content {
  padding: clamp(2rem, calc(0.5687rem + 6.107vw), 3.5rem) 2rem 4rem;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.line {
  width: 0;
  height: 5rem;
  transform: translateX(1.75rem);
  border-left: 1px solid var(--slate-300);
}
.number-1,
.number-2 {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font: var(--text-5);
  color: var(--slate-600);
  background-color: var(--white);
}
.image-collage {
  width: clamp(19.4375rem, calc(1.6338rem + 75.962vw), 70rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, calc(0.5229rem + 2.036vw), 1.5rem);
}
.coll-1,
.coll-2 {
  display: flex;
  gap: clamp(1rem, calc(0.5229rem + 2.036vw), 1.5rem);
}
.coll-1 img,
.coll-2 img {
  width: clamp(9.2188rem, calc(8.9504rem + 1.145vw), 9.5rem);
  height: clamp(9rem, calc(8.0458rem + 4.071vw), 10rem);
  border-radius: 0.3125rem;
}
.text-content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: clamp(19.4375rem, calc(7.9275rem + 49.109vw), 31.5rem);
  gap: 2rem;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title h2 {
  font: var(--text-3);
  letter-spacing: var(--lttx-sp-3);
  color: var(--cyan-600);
}
.title h3 {
  font: var(--text-2);
  color: var(--slate-900);
}
.messages p {
  font: var(--text-4);
  color: var(--slate-600);
}

/* SECCION FOOTER */

.footer-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.hero-2 {
  margin-block-start: -1.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(assets/mobile/image-footer.jpg);
  background-size: cover;
}
.text-content-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: clamp(19.4375rem, calc(1.6338rem + 75.962vw), 70rem);
  gap: 1.5rem;
}
.text-content-3 h2 {
  font: var(--text-2);
  color: var(--white);
}
.text-content-3 p {
  font: var(--text-4);
  color: var(--white);
}

.attribution {
  margin-block-start: 1.5625rem;
  font: var(--text-3);
  color: var(--white);
}
.attribution a {
  color: var(--cyan-300);
}

/* TABLET  */

@media (min-width: 48rem) {
  .btns {
    flex-direction: row;
  }
  .image-collage {
    flex-direction: row;
    justify-content: center;
    gap: clamp(1.5rem, calc(0.9286rem + 1.19vw), 2rem);
  }
  .coll-1,
  .coll-2 {
    flex-direction: row;
    gap: clamp(1.5rem, calc(0.9286rem + 1.19vw), 2rem);
  }
  .coll-1 img,
  .coll-2 img {
    width: clamp(9.5rem, calc(2.0714rem + 15.476vw), 16rem);
    height: clamp(10rem, calc(3.1429rem + 14.286vw), 16rem);
  }
  .main-content {
    padding: 3.5rem clamp(2rem, calc(-1.4286rem + 7.143vw), 5rem) clamp(4rem, calc(3.4286rem + 1.19vw), 4.5rem);
  }
  .text-content-2 {
    width: clamp(31.5rem, calc(458.286px + 5.952vw), 34rem);
  }
  .hero-2 {
    background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(assets/tablet/image-footer.jpg);
  }
}

/* DESKTOP */

@media (min-width: 90rem) {
  .hero {
    padding: 4rem 5rem;
  }
  .combined {
    flex-direction: row;
    height: 22.5rem;
    position: relative;
  }
  .combined .img-1 {
    display: none;
  }
  .combined .img-lf,
  .combined .img-rg {
    display: block;
    width: 24.625rem;
    height: 18.9375rem;
  }
  .combined .img-lf {
    position: absolute;
    transform: translate(-140%, -9.5%);
  }
  .combined .img-rg {
    position: absolute;
    transform: translate(140%, 9.5%);
  }
  .text-content {
    height: 19.625rem;
  }
  .hero-2 {
    padding: 7rem 5rem;
    background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(assets/desktop/image-footer.jpg);
  }
  .text-content-3 {
    flex-direction: row;
    gap: 2rem;
  }
  .text-content-3 h2 {
    width: 27.8125rem;
    text-align: left;
  }
  .text-content-3 p {
    width: 22.1875rem;
    text-align: left;
  }
  .button {
    width: 16rem;
    display: flex;
    justify-content: end;
  }
}
