:root {
  /* //////////////////// COLORS ///////////////////// */
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;

  /* //////////////////// TYPOGRAPHY /////////////////// */
  --fz-text-1: clamp(2.5rem, calc(1.972rem + 2.254vw), 4rem);
  --text-1: normal 900 var(--fz-text-1) / 1.1 "red hat display", sans-serif;

  --fz-text-2: clamp(2rem, calc(1.824rem + 0.751vw), 2.5rem);
  --text-2: normal 900 var(--fz-text-2) / 1.1 "red hat display", sans-serif;

  --fz-text-3: clamp(0.75rem, calc(0.662rem + 0.376vw), 1rem);
  --text-3: normal 900 var(--fz-text-3) / 1.1 "red hat display", sans-serif;
  --lttx-sp-3: 0.25rem;

  --fz-text-4: clamp(1rem, calc(0.956rem + 0.188vw), 1.13rem);
  --text-4: normal 500 var(--fz-text-4) / 1.5 "red hat display", sans-serif;

  --text-5: normal 900 1rem/1.5 "red hat display", sans-serif;
}

/* ///////////////////// GLOBAL ////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid;
}

/* /////////////////// MOVIL FIRST //////////////////// */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--white);
}

header {
  /* width: 100%; */
  width: min(375px,100%);
  padding: 48px 80px 0;
  display: flex;
  justify-content: center;
}

.hero-1 {
  padding: 64px 35px 32px;
  overflow: hidden;
  width: 375px;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.cont-image {
  display: flex;
  justify-content: center;
}

.cont-image img {
   width: clamp(433px, calc(63.725px + 98.473vw), 820px);
}

.text-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  width: clamp(305px, calc(168.263px + 36.463vw), 448.3px);
}

.text-cont h1 {
  font: var(--text-1);
  color: var(--slate-900);
  padding-inline: 0.625rem;
}

.text-cont p {
  font: var(--text-4);
  color: var(--slate-600);
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.btn {
  border-radius: 1.8125rem;
  padding: 1rem 2.5rem;
  font: var(--text-5);
  color: var(--white);
  background-color: var(--cyan-600);
  border: none;
}

.btn-2,
.btn-3 {
  background-color: var(--purple-600);
}

.btn span {
  color: var(--cyan-300);
}

.btn-3 span {
  color: var(--purple-300);
}

.main-content {
  width: 100%;
  padding: clamp(32px, calc(9.099px + 6.107vw), 56px) 32px 64px;
}

.content-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.line {
  width: 0;
  height: 5rem;
  transform: translateX(1.75rem);
  border-left: 1px solid var(--slate-300);
}

.number-1,
.number-2 {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font: var(--text-5);
  color: var(--slate-600);
  background-color: var(--white);
}

.image-collage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.coll-1,
.coll-2 {
  display: flex;
  gap: 1rem;
}

.coll-1 img,
.coll-2 img {
  width: 9.2188rem;
  height: 9rem;
  border-radius: 0.625rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  width: clamp(311px, calc(126.84px + 49.109vw), 504px);
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title h2 {
  font: var(--text-3);
  color: var(--cyan-600);
  letter-spacing: var(--lttx-sp-3);
}

.title p {
  font: var(--text-2);
  color: var(--slate-900);
}

.messages p {
  font: var(--text-4);
  color: var(--slate-600);
}

.footer-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-2 {
  padding: 4rem 2.1875rem;
  margin-top: -1.75rem;
  background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(assets/tablet/image-footer.jpg);
  background-size: cover;
  background-position: center;
  width: clamp(375px, calc(0px + 100vw), 1440px);
  display: flex;
  justify-content: center;
}

.content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  width: clamp(311px, calc(126.84px + 49.109vw), 504px);
}

.content-2 h2 {
  font: var(--text-2);
  color: var(--white);
}

.content-2 p {
  font: var(--text-4);
  color: var(--white);
}

/* ////////////////// TABLET 768PX /////////////////// */
@media (min-width: 768px) {
  .btns {
    flex-direction: row;
  }

  .image-collage {
    flex-direction: row;
  }

  .coll-1 img,
  .coll-2 img {
    width: 152px;
    height:160px;
    border-radius: 0.625rem;
  }
}
